@using YouTubeAndInstagramMediaDownload.Models
@{
    ViewData["Title"] = "Instagram Video";
}
@model VideoModel
    <link rel="stylesheet" href="~/css/mediaDownload.css" asp-append-version="true" />

<form asp-controller="Instagram" asp-action="DownloadVideo" method="post">
    <div class="input-group mb-3">
        <input asp-for="Url" type="text" class="form-control" placeholder="Paste Instagram Video link" aria-label="Paste Instagram Video link" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Download</button>
        </div>
    </div>
</form>